<div>
    <h2>
        <span jhiTranslate="clinicvetApp.vermifugo.home.title">Vermifugos</span>
        <button class="btn btn-primary float-right jh-create-entity create-vermifugo" [routerLink]="['/', { outlets: { popup: ['vermifugo-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="clinicvetApp.vermifugo.home.createLabel">
            Create new Vermifugo
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="vermifugos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="clinicvetApp.vermifugo.vermifugoName">Vermifugo Name</span></th>
            <th><span jhiTranslate="clinicvetApp.vermifugo.aplicVermifugo">Aplic Vermifugo</span></th>
            <th><span jhiTranslate="clinicvetApp.vermifugo.consulta">Consulta</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let vermifugo of vermifugos ;trackBy: trackId">
                <td><a [routerLink]="['../vermifugo', vermifugo.id ]">{{vermifugo.id}}</a></td>
                <td>{{vermifugo.vermifugoName}}</td>
                <td>{{vermifugo.aplicVermifugo}}</td>
                <td>
                    <div *ngIf="vermifugo.consulta">
                        <a [routerLink]="['../consulta', vermifugo.consulta?.id ]" >{{vermifugo.consulta?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../vermifugo', vermifugo.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'vermifugo/'+ vermifugo.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'vermifugo/'+ vermifugo.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
