<div>
    <h2>
        <span jhiTranslate="clinicvetApp.funcionario.home.title">Funcionarios</span>
        <button class="btn btn-primary float-right jh-create-entity create-funcionario" [routerLink]="['/', { outlets: { popup: ['funcionario-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="clinicvetApp.funcionario.home.createLabel">
            Create new Funcionario
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="funcionarios">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="clinicvetApp.funcionario.matricula">Matricula</span></th>
            <th><span jhiTranslate="clinicvetApp.funcionario.tipo">Tipo</span></th>
            <th><span jhiTranslate="clinicvetApp.funcionario.pessoa">Pessoa</span></th>
            <th><span jhiTranslate="clinicvetApp.funcionario.manager">Manager</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let funcionario of funcionarios ;trackBy: trackId">
                <td><a [routerLink]="['../funcionario', funcionario.id ]">{{funcionario.id}}</a></td>
                <td>{{funcionario.matricula}}</td>
                <td jhiTranslate="{{'clinicvetApp.Funcao.' + funcionario.tipo}}">{{funcionario.tipo}}</td>
                <td>
                    <div *ngIf="funcionario.pessoa">
                        <a [routerLink]="['../pessoa', funcionario.pessoa?.id ]" >{{funcionario.pessoa?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="funcionario.manager">
                        <a [routerLink]="['../funcionario', funcionario.manager?.id ]" >{{funcionario.manager?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../funcionario', funcionario.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'funcionario/'+ funcionario.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'funcionario/'+ funcionario.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
