<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myClienteLabel" jhiTranslate="clinicvetApp.cliente.home.createOrEditLabel">Create or edit a Cliente</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!cliente.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="cliente.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="clinicvetApp.cliente.nomeCliente" for="field_nomeCliente">Nome Cliente</label>
            <input type="text" class="form-control" name="nomeCliente" id="field_nomeCliente"
                [(ngModel)]="cliente.nomeCliente"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="clinicvetApp.cliente.profisao" for="field_profisao">Profisao</label>
            <input type="text" class="form-control" name="profisao" id="field_profisao"
                [(ngModel)]="cliente.profisao"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
