<div>
    <h2>
        <span jhiTranslate="clinicvetApp.estado.home.title">Estados</span>
        <button class="btn btn-primary float-right jh-create-entity create-estado" [routerLink]="['/', { outlets: { popup: ['estado-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="clinicvetApp.estado.home.createLabel">
            Create new Estado
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="estados">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="clinicvetApp.estado.uF">U F</span></th>
            <th><span jhiTranslate="clinicvetApp.estado.estadoNome">Estado Nome</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let estado of estados ;trackBy: trackId">
                <td><a [routerLink]="['../estado', estado.id ]">{{estado.id}}</a></td>
                <td>{{estado.uF}}</td>
                <td>{{estado.estadoNome}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../estado', estado.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'estado/'+ estado.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'estado/'+ estado.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
