<div>
    <h2>
        <span jhiTranslate="clinicvetApp.vacina.home.title">Vacinas</span>
        <button class="btn btn-primary float-right jh-create-entity create-vacina" [routerLink]="['/', { outlets: { popup: ['vacina-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="clinicvetApp.vacina.home.createLabel">
            Create new Vacina
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="vacinas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="clinicvetApp.vacina.vacinaName">Vacina Name</span></th>
            <th><span jhiTranslate="clinicvetApp.vacina.aplicVacina">Aplic Vacina</span></th>
            <th><span jhiTranslate="clinicvetApp.vacina.consulta">Consulta</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let vacina of vacinas ;trackBy: trackId">
                <td><a [routerLink]="['../vacina', vacina.id ]">{{vacina.id}}</a></td>
                <td>{{vacina.vacinaName}}</td>
                <td>{{vacina.aplicVacina}}</td>
                <td>
                    <div *ngIf="vacina.consulta">
                        <a [routerLink]="['../consulta', vacina.consulta?.id ]" >{{vacina.consulta?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../vacina', vacina.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'vacina/'+ vacina.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'vacina/'+ vacina.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
